<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="style.css">
     
     <title>Document</title>
 </head>
 <body>
        <script type="text/javascript" src="server.js"></script>
     <div class="submit-div">
            
        <form method='POST' action='/sales_report'>
            <label>input:</label>
            <input type='text'  name="sometext" id="hello" />
            <input type='submit' value='Submit' id="btn"/>
        </form>
    </div>
    <div id="csv-ouput">

    </div>

 </body>
 
 
 </html>